[submodule "kaldi-trunk"]
	path = kaldi-trunk
	url = git@github.com:kaldi-asr/kaldi.git
[submodule "kaldi-trunk-52"]
	path = kaldi-trunk-52
	url = git@github.com:kaldi-asr/kaldi.git
[submodule "multiRefWER"]
	path = multiRefWER
	url = git@github.com:qcri/multiRefWER.git
